<!--<div class="col_full panel panel-default bottommargin-sm">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h2 class="panel-title">Rational Zeros Testing</h2>
            </div>
            <div class="col-md-6">
                <a class="pull-right" href="#">Learn More!</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="fancy-title title-bottom-border">
            <h5>Potential Zeros</h5>
        </div>
        <div class="row center">
            <div class="col-md-3 bottommargin-sm" ng-repeat="p in potential">
                {{prettyFraction(p)}}
            </div>
        </div>
        <div class="fancy-title">
            <h4>First Real Zero: <span>{{prettyFraction(actual[0])}}</span></h4>
        </div>
    </div>
</div>-->

<div class="toggle toggle-border toggle-bg">
    <div class="togglet"><i class="toggle-closed icon-arrow-right"></i><i class="toggle-open icon-remove-circle"></i>
        {{title}}
    </div>
    <div class="togglec topmargin-sm">
        <div class="fancy-title title-bottom-border">
            <h5>Potential Zeros</h5>
        </div>
        <div class="row center">
            <div class="col-md-3 bottommargin-sm" ng-repeat="p in potential">
                {{prettyFraction(p)}}
            </div>
        </div>
        <div class="fancy-title">
            <h4>First Real Zero: <span>{{prettyFraction(actual[0])}}</span></h4>
        </div>
    </div>
</div>
