/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.has-error {
    border-color: darkred;
}

.spinner {
    max-height: 100%;
}

.padlr {
    padding: 0 20px;
}

#header {
    background-color: #eae8e8;
}

#header.sticky-header #header-wrap {
    background-color: #eae8e8;
}

#content {
    background-color: #f6f4f4;
}