<div class="toggle toggle-border toggle-bg">
    <div class="togglet"><i class="toggle-closed icon-plus-sign2"></i><i class="toggle-open icon-remove-circle"></i>Synthetic Division</div>
    <div class="togglec topmargin-sm">
        <div class="row">
            <div class="col-md-6">
                <span mathjax-bind="'$$\\frac{'+input.toLatex()+'}{'+rootLatex+'}$$'"></span>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                    <tr>
                        <td ng-repeat="n in top track by $index">{{n}}</td>
                    </tr>
                    <tr>
                        <td ng-repeat="n in middle track by $index">{{n}}</td>
                    </tr>
                    <tr>
                        <td ng-repeat="n in bottom track by $index">{{n}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-md-offset-7">
                <span mathjax-bind="'$$ = '+result.toLatex()+'$$'"></span>
            </div>
        </div>
    </div>
</div>
